@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  margin: 0;
  font-family: "Nunito", sans-serif;
  overflow: hidden;
}

/* App Component */
.App {
  display: flex;
}

.editor {
  width: 48%;
  height: 100vh;
  display: grid;
  padding: 0.5rem 1rem;
}

.output {
  width: 48%;
}

/* Navbar Component */
.navbar {
  width: 4%;
  height: 100vh;
  padding: 1rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.navbar > button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 1rem 0;
}
.navbar > button:hover {
  color: #efefef;
}

/* Editor component */
.title {
  padding: 0.3rem 1rem;
}

@media screen and (max-width: 700px) {
  .App {
    display: flex;
    flex-direction: column;
  }
  .navbar {
    height: 5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .navbar > button {
    margin: 1rem;
  }
  .editor {
    width: 100%;
    height: 46vh;
    padding: 0;
  }
  .output {
    height: 46vh;
    width: 100%;
  }
}
